# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
*.sqlite3
*.db
data/
!data/.keep

# VS Code
.vscode/

# Logs
*.log
